<form name='myForm'>
    <input type='text' class='form-control' ng-pattern='nameRegexp' placeholder = 'Name' required ng-model="name"/>
    <input type='text' class='form-control'  ng-pattern="loginRegexp" placeholder = 'Login' required ng-model="login"/>
    <input type='password' class='form-control' ng-pattern="passwordRegexp" placeholder = 'Password' required ng-model="password"/>
    <input type='email' class='form-control' ng-pattern="emailRegexp"  placeholder = 'Email' required ng-model="email"/>
</form>