<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>ToDo List (Task2)</title>
    <script src="../Libraries/angular.js"></script>
    <link rel="stylesheet" href="../Libraries/bootstrap.css">
        <!--Задача 1
Откройте файл Task/Task.html.Вам необходимо разработать приложение “To do List”.
 Задача приложения отображать пользователю таблицу с задачами и предоставлять возможность добавлять новые задачи.
 Приложение должно быть построено по шаблону, который находится в папке Task в файле template.png
 Задача2
Добавьте в предыдущую задачу возможность пользователя редактировать задачи и сохранять результат после редактирования.
 -->
    <script>

        // Добавьте AngularJS контроллер
        var data =[
            {name:"Buy milk",description:"go and buy it!!!",date:"2/18/2015",completed:true},
            {name:"watch video about AngularJS",description:"watch til the end",date:"2/18/2015",completed:true},
        ];
        var myApp = angular.module("myApp",[]);
        var myCtrl = myApp.controller("myCtrl",function ($scope) {
            $scope.tasks = data;
            $scope.add = function () {
                $scope.tasks.push({
                    name: $scope.task_name,
                    description: $scope.task_description,
                    date: $scope.task_date,
                    completed: $scope.task_completed
                })

            }
            $scope.edit = function (task) {

                $scope.task_name_change = task.name;
                $scope.task_date_change = task.date;
                $scope.task_description_change = task.description;
                $scope.task_completed_change = task.completed;
                $scope.task_save = task;
            }
            $scope.save = function (task_save) {
                task_save.name = $scope.task_name_change;
                task_save.date = $scope.task_date_change;
                task_save.description = $scope.task_description_change;
                task_save.completed = $scope.task_completed_change;
            }
        })
    </script>
</head>
<body ng-controller="myCtrl">

<div class="container">

    <h3>ToDo List</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Date</th>
            <th>Completed</th>
        </tr>
        </thead>
        <tr ng-repeat="task in tasks">
            <td>{{task.name}}</td>
            <td>{{task.description}}</td>
            <td>{{task.date}}</td>
            <td>{{task.completed}}</td>
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" ng-click="edit(task)">Edit</button>
            </td>
        </tr>
    </table>

    <div class="col-md-6">
        <h3>Name</h3>
        <input type="text" class="form-control" ng-model="task_name">
        <h3>Due Date</h3>
        <input type="text" class="form-control" ng-model="task_date">
        <h3>Description</h3>
        <input type="text" class="form-control" ng-model="task_description">
        <h3>Completed</h3>
        <input type="checkbox" ng-model="task_completed" >
        <br/>
        <button class="btn btn-success" ng-click="add()">Add</button>
    </div>
    <div class="col-md-6">
        <h3>Name</h3>
        <input type="text" class="form-control" ng-model="task_name_change">
        <h3>Due Date</h3>
        <input type="text" class="form-control" ng-model="task_date_change">
        <h3>Description</h3>
        <input type="text" class="form-control" ng-model="task_description_change">
        <h3>Completed</h3>
        <input type="checkbox" ng-model="task_completed_change" >
        <br/>
        <button class="btn btn-success" ng-click="save(task_save)">Save</button>
    </div>


</div>
</body>
</html>